body {
    background: linear-gradient(to right,#ffc400, #e9d736d0);
    font: 400 15pt arial;
    text-align: center;
}
header {
    color: rgb(255, 255, 255);
    font-size: 18pt;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em rgba(0, 0, 0, 0%);
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}
section {
    background: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em 0.05em rgba(0, 0, 0, 0%);
    font-weight: 500;
    font-size: 16pt;
    font-family: 'Signika', sans-serif;
    border-radius: 10%;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0%); /*Removendo as sobras para deixar o desing mais flat*/
    padding-bottom: 1%;
}
#image { /*Quero que todas as imagens tenham esse padrão*/
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}
div {
    text-align: center;
    padding: 3%;
}
#greet {
    font-size: 15pt;
    letter-spacing: 0.5px;
}
footer {
    color: white;
    text-align: center;
    font-style: normal;
    font-size: 10pt;
    font-family: 'Signika', sans-serif;
    text-shadow: 0.1em 0.1em 0.05em rgba(0, 0, 0, 0%);
    display: flex;
    flex-direction: column;
    padding: 15px;
}
#imgfooter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    margin-top: 10px;
}
#github {
    width: 30px;
    margin-right: 10px;
}
#curso {
    width: 40px;
    margin-left: 10px;
}
