/*
Reduzir otmizar e melhorar o código usando os conceitos:
- flexbox
- css grid
*/

* {
    margin: 0;
    padding: 0;
}
.container {
    text-shadow: 3em 2em 3em rgba(255, 255, 255, 0.2);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right,#ffc400, #e9d736d0);
    font: 400 15pt arial;
    height: 100vh;
}
header {
    color: rgb(255, 255, 255);
    margin: 40px 0px;
}
h1 {
    font-size: 2.2em;
    font-family: 'Anton', sans-serif;
    letter-spacing: 4px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    border-radius: 30px;
}
#msg, #greetings {
    font-weight: 500;
    font-size: 16pt;
    font-family: 'Signika', sans-serif;
    margin: 20px 0px;
    letter-spacing: 0.5px;
}
#image { /*Todas as imagens com o mesmo padrão*/
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}
footer {
    display: flex;
    flex-direction: column;
    color: white;
    font-style: normal;
    font-size: 12pt;
    font-family: 'Signika', sans-serif;
    margin-top: 40px;
}
#imgfooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
}
#github {
    width: 30px;
    margin-right: 8px;
}
#curso {
    width: 43px;
    margin-left: 8px;
}